.git
.gitignore
node_modules
tmp
log
storage
.next
ai-service/__pycache__
ai-service/.venv
backend/vendor/bundle
backend/tmp/pids
backend/log
frontend/.next
frontend/node_modules
*.md
docker-compose.yml
docs

